Work/WK/MS/Web_WebSV/Web/Web/Connected Services/ThirdPartyApiService/JxBackendService.Model.Param.ThirdParty.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Param.ThirdParty" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Param.ThirdParty" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TPGameOpenParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="OpenGameModeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TPGameOpenParam" nillable="true" type="tns:TPGameOpenParam" />
</xs:schema>