Work/WK/MS/Web_WebSV/Web/Web/Connected Services/ThirdPartyApiService/JxBackendService.Model.ReturnModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JxBackendService.Model.ReturnModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.ReturnModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Param.ThirdParty" />
  <xs:complexType name="BaseReturnDataModelOfTPGameOpenParamZWylxVPn">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseReturnDataModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.ReturnModel" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TPGameOpenParam" Namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Param.ThirdParty" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseReturnModel">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Param.ThirdParty" minOccurs="0" name="DataModel" nillable="true" type="q1:TPGameOpenParam" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseReturnDataModelOfTPGameOpenParamZWylxVPn" nillable="true" type="tns:BaseReturnDataModelOfTPGameOpenParamZWylxVPn" />
  <xs:complexType name="BaseReturnModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseReturnModel" nillable="true" type="tns:BaseReturnModel" />
</xs:schema>