Work/WK/MS/Web_WebSV/Web/Web/Connected Services/ThirdPartyApiService/JxBackendService.Model.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Entity.Base" />
  <xs:complexType name="FrontsideMenu">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Entity.Base" base="q1:BaseEntityModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="AppSort" type="xs:int" />
          <xs:element minOccurs="0" name="EngName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GameCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="No" type="xs:int" />
          <xs:element minOccurs="0" name="PicName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemoteCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sort" type="xs:int" />
          <xs:element minOccurs="0" name="Type" type="xs:int" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FrontsideMenu" nillable="true" type="tns:FrontsideMenu" />
</xs:schema>