Work/WK/MS/Web_WebSV/Web/Web/Connected Services/ThirdPartyApiService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ThirdPartyApiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.ReturnModel" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Param.ThirdParty" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Entity" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Entity.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IThirdPartyApiWCFService_GetForwardGameUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForwardGameUrl" />
  </wsdl:message>
  <wsdl:message name="IThirdPartyApiWCFService_GetForwardGameUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForwardGameUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IThirdPartyApiWCFService_GetActiveFrontsideMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveFrontsideMenu" />
  </wsdl:message>
  <wsdl:message name="IThirdPartyApiWCFService_GetActiveFrontsideMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveFrontsideMenuResponse" />
  </wsdl:message>
  <wsdl:portType name="IThirdPartyApiWCFService">
    <wsdl:operation name="GetForwardGameUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IThirdPartyApiWCFService/GetForwardGameUrl" message="tns:IThirdPartyApiWCFService_GetForwardGameUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThirdPartyApiWCFService/GetForwardGameUrlResponse" message="tns:IThirdPartyApiWCFService_GetForwardGameUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveFrontsideMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IThirdPartyApiWCFService/GetActiveFrontsideMenu" message="tns:IThirdPartyApiWCFService_GetActiveFrontsideMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThirdPartyApiWCFService/GetActiveFrontsideMenuResponse" message="tns:IThirdPartyApiWCFService_GetActiveFrontsideMenu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IThirdPartyApiWCFService" type="tns:IThirdPartyApiWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetForwardGameUrl">
      <soap:operation soapAction="http://tempuri.org/IThirdPartyApiWCFService/GetForwardGameUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveFrontsideMenu">
      <soap:operation soapAction="http://tempuri.org/IThirdPartyApiWCFService/GetActiveFrontsideMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ThirdPartyApiService">
    <wsdl:port name="BasicHttpBinding_IThirdPartyApiWCFService" binding="tns:BasicHttpBinding_IThirdPartyApiWCFService">
      <soap:address location="http://localhost/SLPolyGame.Web/ThirdPartyApiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>