Work/WK/MS/Web_WebSV/Web/Web/Connected Services/ThirdPartyApiService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.ReturnModel" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Entity" />
  <xs:element name="GetForwardGameUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginInfoJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isMobile" type="xs:boolean" />
        <xs:element minOccurs="0" name="correlationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForwardGameUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JxBackendService.Model.ReturnModel" minOccurs="0" name="GetForwardGameUrlResult" nillable="true" type="q1:BaseReturnDataModelOfTPGameOpenParamZWylxVPn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveFrontsideMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gameCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveFrontsideMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Entity" minOccurs="0" name="GetActiveFrontsideMenuResult" nillable="true" type="q2:FrontsideMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>