Work/WK/MS/Web_WebSV/Web/Web/Connected Services/PublicApiService/SLPolyGame.Web.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SLPolyGame.Web.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SLPolyGame.Web.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SetRemoteCacheParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="CacheSeconds" type="xs:int" />
      <xs:element minOccurs="0" name="IsSlidingExpiration" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetRemoteCacheParam" nillable="true" type="tns:SetRemoteCacheParam" />
</xs:schema>