Work/WK/MS/Web_WebSV/Web/Web/Connected Services/SerTabService/JxLottery.Models.Lottery.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JxLottery.Models.Lottery" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JxLottery.Models.Lottery" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WinGroupModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AwardStatus" type="xs:int" />
      <xs:element minOccurs="0" name="BetAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Odds" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rebate" type="xs:decimal" />
      <xs:element minOccurs="0" name="WinAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="WinBetCount" type="xs:int" />
      <xs:element minOccurs="0" name="WinTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="WinTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WinGroupModel" nillable="true" type="tns:WinGroupModel" />
</xs:schema>