Work/WK/MS/Web_WebSV/Web/Web/Connected Services/SerTabService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SLPolyGame.Web.Model" />
  <xs:element name="GetPlayTypeRadio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayTypeRadioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SLPolyGame.Web.Model" minOccurs="0" name="GetPlayTypeRadioResult" nillable="true" type="q1:ArrayOfPlayTypeRadio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayTypeInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayTypeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SLPolyGame.Web.Model" minOccurs="0" name="GetPlayTypeInfoResult" nillable="true" type="q2:ArrayOfPlayTypeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotteryType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotteryTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SLPolyGame.Web.Model" minOccurs="0" name="GetLotteryTypeResult" nillable="true" type="q3:ArrayOfLotteryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotteryInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotteryid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotteryInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SLPolyGame.Web.Model" minOccurs="0" name="GetLotteryInfosResult" nillable="true" type="q4:CurrentLotteryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AllWebLotteryType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AllWebLotteryTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SLPolyGame.Web.Model" minOccurs="0" name="Get_AllWebLotteryTypeResult" nillable="true" type="q5:ArrayOfLotteryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCurrentLotteryInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SLPolyGame.Web.Model" minOccurs="0" name="query" nillable="true" type="q6:CurrentLotteryQueryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCurrentLotteryInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SLPolyGame.Web.Model" minOccurs="0" name="QueryCurrentLotteryInfoResult" nillable="true" type="q7:ArrayOfCurrentLotteryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodaySummaryInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
        <xs:element minOccurs="0" name="lotteryID" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodaySummaryInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SLPolyGame.Web.Model" minOccurs="0" name="GetTodaySummaryInfoResult" nillable="true" type="q8:TodaySummaryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayInfoSummaryInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lotteryID" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="isansy" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayInfoSummaryInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SLPolyGame.Web.Model" minOccurs="0" name="GetPlayInfoSummaryInfoResult" nillable="true" type="q9:TodaySummaryInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>