Work/WK/MS/Web_WebSV/Web/Web/Connected Services/SlotApiService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.ViewModel.ThirdParty" />
  <xs:element name="GetGameList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameLobbyType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JxBackendService.Model.ViewModel.ThirdParty" minOccurs="0" name="GetGameListResult" nillable="true" type="q1:ArrayOfGameLobbyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJackpotAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameLobbyType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJackpotAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJackpotAmountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>