Work/WK/MS/Web_WebSV/Web/Web/Connected Services/SlotApiService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SlotApiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.ViewModel.ThirdParty" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Entity" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.Entity.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISlotApiService_GetGameList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameList" />
  </wsdl:message>
  <wsdl:message name="ISlotApiService_GetGameList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameListResponse" />
  </wsdl:message>
  <wsdl:message name="ISlotApiService_GetJackpotAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJackpotAmount" />
  </wsdl:message>
  <wsdl:message name="ISlotApiService_GetJackpotAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJackpotAmountResponse" />
  </wsdl:message>
  <wsdl:portType name="ISlotApiService">
    <wsdl:operation name="GetGameList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISlotApiService/GetGameList" message="tns:ISlotApiService_GetGameList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISlotApiService/GetGameListResponse" message="tns:ISlotApiService_GetGameList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJackpotAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISlotApiService/GetJackpotAmount" message="tns:ISlotApiService_GetJackpotAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISlotApiService/GetJackpotAmountResponse" message="tns:ISlotApiService_GetJackpotAmount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISlotApiService" type="tns:ISlotApiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGameList">
      <soap:operation soapAction="http://tempuri.org/ISlotApiService/GetGameList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJackpotAmount">
      <soap:operation soapAction="http://tempuri.org/ISlotApiService/GetJackpotAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SlotApiService">
    <wsdl:port name="BasicHttpBinding_ISlotApiService" binding="tns:BasicHttpBinding_ISlotApiService">
      <soap:address location="http://localhost/SLPolyGame.Web/SlotApiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>