Work/WK/MS/Web_WebSV/Web/Web/Connected Services/SLPolyGameService/JxBackendService.Model.ViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JxBackendService.Model.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JxBackendService.Model.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FrontsideMenuViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrontsideMenuTypes" nillable="true" type="tns:ArrayOfFrontsideMenuTypeViewModel" />
      <xs:element minOccurs="0" name="PagedFrontsideProductMenus" nillable="true" type="tns:ArrayOfPagedFrontsideProductMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FrontsideMenuViewModel" nillable="true" type="tns:FrontsideMenuViewModel" />
  <xs:complexType name="ArrayOfFrontsideMenuTypeViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FrontsideMenuTypeViewModel" nillable="true" type="tns:FrontsideMenuTypeViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFrontsideMenuTypeViewModel" nillable="true" type="tns:ArrayOfFrontsideMenuTypeViewModel" />
  <xs:complexType name="FrontsideMenuTypeViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardOutCssClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColsInRow" type="xs:int" />
      <xs:element minOccurs="0" name="IconFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaintainanceCssClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuTypeValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FrontsideMenuTypeViewModel" nillable="true" type="tns:FrontsideMenuTypeViewModel" />
  <xs:complexType name="ArrayOfPagedFrontsideProductMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PagedFrontsideProductMenu" nillable="true" type="tns:PagedFrontsideProductMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPagedFrontsideProductMenu" nillable="true" type="tns:ArrayOfPagedFrontsideProductMenu" />
  <xs:complexType name="PagedFrontsideProductMenu">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrontsideProductMenus" nillable="true" type="tns:ArrayOfFrontsideProductMenu" />
      <xs:element minOccurs="0" name="MenuTypeValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedFrontsideProductMenu" nillable="true" type="tns:PagedFrontsideProductMenu" />
  <xs:complexType name="ArrayOfFrontsideProductMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FrontsideProductMenu" nillable="true" type="tns:FrontsideProductMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFrontsideProductMenu" nillable="true" type="tns:ArrayOfFrontsideProductMenu" />
  <xs:complexType name="FrontsideProductMenu">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardCssClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHideHeaderWithFullScreen" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMaintaining" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRedirectUrl" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemoteCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FrontsideProductMenu" nillable="true" type="tns:FrontsideProductMenu" />
</xs:schema>